html {
  font-family: "Rubik", sans-serif;
}

h2 {
  margin-top: 0;
  font-size: 55px;
  font-weight: 500;
  font-style: normal;
  color: #1c2138;
}

p {
  margin-top: 0;
  font-size: 20px;
  font-weight: 350;
  font-style: normal;
  color: #848692;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: #1c223a;
}

ul {
  list-style: none;
}