$color-blue: #5267df;
$color-red: #fa5959;
$color-grey: #f7f7f7;
$color-dark: #242a45;
$color-light: #fff;
$color-muted: #9194a1;

$font-main: 'Arial', sans-serif;
$transition: 0.3s ease;
$radius: 5px;