//Variables colores
$cursor: url(./images/cursor.cur), auto;
$color-titulos:rgb(29 36 64);
$color-p:rgb(150 151 155);
$color-btn-rojo:rgb(255, 82, 82);
$color-btn-rojo-hover:rgb(226 104 101);
$color-btn-azul:rgb(84 101 223);
$color-border-btn-azul-hover:rgb(98 108 168);
$color-btn-grey:rgb(247 247 247);
$color-font-btn-grey:rgb(88 88 95);
$color-box-shadow:rgb(229 231 243);
$color-btn-grey-hover:rgb(93 93 102);
$color-figura-after:rgb(82, 103, 223);